* {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #fff;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.top {
    height: 34px;
    line-height: 34px;
    background-color: #ed4d2d;
    font-size: 14px;
}

.top-bar {
    background-color: skyblue;
}

.top-bar {
    padding: 0 10px;
}

.top-bar-left {
    float: left;
    display: flex;
}

.top-bar-left>a:hover {
    color: rgb(204, 204, 204)
}

.line {
    width: 1px;
    height: 14px;
    margin: 10px 8px 8px;
    background-color: #fff;
}

.follow {
    display: flex;
    align-items: center;
    color: #fff;
}

.follow a {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../upload/so.png) no-repeat;
    background-position: -5px -5px;
    background-size: 78px;
    margin-left: 7px;
}

.follow a:nth-child(2) {
    background-position: -5px -31px;
}

.follow a:nth-child(3) {
    background-position: -35px -5px;
}

.top-bar-right {
    float: right;
    display: flex;
}

.top-bar-right a {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.top-bar-right a span {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-color: pink;
}

.top-bar-right a:nth-child(2) span {
    background-color: skyblue;
}

#userImg {
    background-color: springgreen;
}